.container {
    display: flex;
}

.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 6rem;
}

.has-text-centered {
    text-align: center!important;
}

.navbar-item{
    color: #4a4a4a;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
}
